body {
   background-image: url("../img/vecteezy-backgroundstadium-footballki0821_rev_2_generated.jpg");
   background-size:cover;
   margin: 0 0;
   background-repeat: no-repeat;
   background-color: #1c801e;
   /*overflow: hidden;*/

}

/*--------------------------------------------------------------------------------NAVBAR-----------------------------------------------------------*/
h1 {
   text-align: center;
}

hr {
   height: 10px;
   display: inline-block;
   margin: 20px -1px;
   width: 33%;
}

.hr1 {
   background-color: black;
   float: left;

}

.hr2 {
   background-color: rgb(255, 255, 0);
   width: 33.82%;
}

.hr3 {
   background-color: #C41E3A;
   float: right;

}

#navbarWrapper ul {
   display: flex;
   justify-content: center;
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: 'Games', sans-serif;
   color: whitesmoke;
}

#navbarWrapper li {
   margin-top: 30px;
}

#navbarWrapper li a {
   font-size: x-large;
   padding: 50px;
   cursor: pointer;
   text-decoration: none;
   color: inherit;
}

#navbarWrapper a:hover {
   font-size: xx-large;
}

#navbarWrapper li:first-child:hover {
   color: black;
}

#navbarWrapper li:nth-child(2):hover {
   color: yellow;
}

#navbarWrapper li:nth-child(3):hover {
   color: red;
}
#navbarWrapper li .game {
   background: conic-gradient(
           #000000 20.100%,
           #FFFF99 20.200%,
           #B22222 40.300%
   );

   /* Set thee background size and repeat properties. */
   background-size: 200%;

   /* Use the text as a mask for the background. */
   /* This will show the gradient as a text color rather than element bg. */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   /*animation: rainbow-text-animation-rev 0.5s ease forwards;*/

   cursor: pointer;
}
#navbarWrapper li .game:hover {
   animation: rainbow-text-animation 0.7s ease forwards;
}
@keyframes rainbow-text-animation {
   0% {
      background-size: 100%;
      background-position: 0 0;
   }
   20% {
      background-size: 100%;
      background-position: 0 1em;
   }
   100% {
      background-size: 200%;
      background-position: -9em 1em;
   }
}
/*--------------------------------------------------------------------------------HOMEPAGE-----------------------------------------------------------*/
.checkBox {
   position: absolute;
   right: 42%;
   text-align: center;
   border: solid 3px black;
   padding: 20px 20px;
   font-weight: bold;
   font-size: large;
   background: rgba(0, 0, 0, 0.2);
}

.checkBox a {
   color: white;
}

.card-outer {
   margin: 80px;
   display: flex;
   float: left;
   height: 100%;

}

.card-outer2 {
   margin: 80px;
   display: flex;
   float: right;
   height: 100%;
}

.card1,
.card2 {
   position: relative;
   height: 100%;
   border-radius: 10px;
   width: 100%;
   transform-style: preserve-3d;
}

.front,
.back {
   display: flex;
   width: 500px;
   height: 200px;
   border-radius: 10px;
   text-align: center;
   justify-content: center;
   backface-visibility: hidden;
}

.back {
   position: absolute;
   top: 0;
   left: 0;
   transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
}

.front {
   animation: pulse 2s infinite;
   cursor: pointer;
}

.front:hover {
   animation-play-state: paused;
}

@keyframes pulse {
   0% {
      transform: scale(0.7);
   }

   50% {
      transform: scale(0.75);
   }

   100% {
      transform: scale(0.7);
   }
}

.front #cardGame {
   width: 500px;
   height: 600px;

}

.connexion {
   margin-top: 40px;
   display: flex;
   justify-content: center;
}

.connexion2 {
   margin-top: 40px;
   display: flex;
   justify-content: center;
}

.connexion #userIcon {
   position: absolute;
   margin-top: -20px;
   height: 50px;
   border-radius: 50%;

}

.container {
   display: block;
   margin: auto auto;
   border: 1px solid;
   border-width: 0.4em;
   padding: 30px;
   border-color: black #FFFF8F #C41E3A;
   height: 350px;
}

.container input {
   width: 350px;
   height: 40px;
   text-align: center
}

.container div {
   margin-top: 10px;
}

.container input[type=submit] {

   cursor: pointer;
}

.container input[type=checkbox] {
   height: 30px;
   width: 20px;
}

.container input[type=checkbox] div {
   height: 30px;
   width: 20px;
}

.credits {
   position: relative; 
   font-size: 24px;
   width: 680px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   transform: translateY(60%);
   font-family: 'Games', sans-serif;
   color: darkblue;

   
}


/*--------------------------------------------------------------------------------CONTACTPAGE-----------------------------------------------------------*/
.contactpage #header {
   margin-top: -20px;
   text-align: center;

}
.contactpage body {
   transform: scale(1);
}
.contactpage #header button,
p {
   display: inline-block;
   font-size: x-large;
   padding: 15px;
}

.contactpage #header button {
   border: none;
   background: none;
   cursor: pointer;

}

.contactpage #header p {
   color: aliceblue;

}

.contactpage .form {
   display: flex;
   justify-content: center;
}

.contactpage .form #message {
   width: 600px;
   height: 50px;
}

.contactpage .form #type {
   width: 500px;
   height: 50px;
   text-align: center;
}

.contactpage .form button {
   width: 200px;
   height: 50px;

}

/*--------------------------------------------------------------------------------VIEW-----------------------------------------------------------*/
.contactpage #message2 {
   text-align: center;
   padding-bottom: 20px;
}

.contactpage #container2 {
   margin: auto auto;
   border: 1px solid;
   border-width: 0.4em;
   padding: 30px;
   width: 50%;
   border-color: black #FFFF8F #C41E3A;
   border-radius: 25px;

}

.contactpage #type2,
#content2 {

   font-weight: bold;
}

.contactpage #type2 {
   position: absolute;
   margin-top: -20px;
   float: left;
}

.contactpage #content2 {
   text-align: center;
}

.contactpage #message2 button {
   float: right;
   cursor: pointer;
}

.imgdiv {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 150px;
   line-height: 150px;
   font-size: 20px;
   padding: 10px;
   text-align: center;
   border: 2px solid black;
   cursor: pointer;
}

.hide {
   padding: 10px;
   visibility: hidden;
}

.match,
.showimg {
   visibility: visible !important;
}

/*--------------------------------------------------------------------------------GAME PAGE-----------------------------------------------------------*/
.sectionCard {
   display: grid;
   grid-template-columns: repeat(6, 10rem);
   grid-template-rows: repeat(4, 10rem);
   grid-gap: 2rem;
   perspective: 800px;
}

.card {
   position: relative;
   transform-style: preserve-3d;
   transition: all 2s cubic-bezier(0.2, 0.885, 0.32, 1.275);
   box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
}

.recto,
.verso {
   width: 100%;
   height: 100%;
   position: absolute;
   pointer-events: none;
   border-radius: 40px;
}


.verso,.verso1 {
   background-image: url("../img/pix.png");

   backface-visibility: hidden;
   background-position: center;
   background-size: 150px;
}

.toggleCard {
   transform: rotateY(180deg);
}

.divBackGame {
   background: rgba(0, 0, 0, 0.4);
   height: 700px;
   width: 1140px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   border-radius: 30px;
}

.divLivesTimer {
   font-family: 'Games', sans-serif;
   color: whitesmoke;
}

.maxMoves {
   text-align: center;
}

.timer {
   position: absolute;
   float: left;
   margin-top: auto;
}

/*--------------------------------------------------------------------------------LEVEL PAGE-----------------------------------------------------------*/

.column1 {
   width: 500px;
   border: 5px solid rgba(0, 0, 0, 0.3);
   border-radius: .5em;
   padding: 20px;
   margin-left: 10%;
   float: left;
   background-color: rgba(0, 0, 0, 0.3);
   font-family: 'Games', sans-serif;
   color: whitesmoke;

}

.column2 {
   width: 500px;
   border: 5px solid rgba(0, 0, 0, 0.3);
   border-radius: .5em;
   padding: 20px;
   float: right;
   background-color: rgba(0, 0, 0, 0.3);
   font-family: 'Games', sans-serif;
   color: whitesmoke;
   margin-right: 10%;

}

.levelEasy {
   width: 500px;
   height: 100px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.3);
   border: 2px solid rgba(0, 0, 0, 0.2);
   font-size: 28px;
   cursor: pointer;
   font-family: 'Games', sans-serif;
   color: whitesmoke;

}

.levelMedium {
   width: 500px;
   height: 100px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.3);
   border: 2px solid rgba(0, 0, 0, 0.2);
   font-size: 28px;
   cursor: pointer;
   font-family: 'Games', sans-serif;
   color: whitesmoke;

}

.levelHard {
   width: 500px;
   height: 100px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.3);
   border: 2px solid rgba(0, 0, 0, 0.2);
   font-size: 28px;
   cursor: pointer;
   font-family: 'Games', sans-serif;
   color: whitesmoke;

}

.home {
   width: 470px;
   height: 100px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.3);
   border: 2px solid rgba(0, 0, 0, 0.2);
   font-size: 24px;
   cursor: pointer;
}

.levelEasy:hover {
   background-color: rgba(0, 0, 0, 0.7);
   font-size: 250%;
}

.levelMedium:hover {
   background-color: #FFD700;
   font-size: 250%;
}

.levelHard:hover {
   background-color: #B22222;
   font-size: 250%;
}

.restart {
   color: green;
   z-index: 4;
   position: absolute;
   margin-left: 15%;
   margin-top: 40%;
   width: 200px;
   height: 50px;
   border: 2px solid black;
   cursor: pointer;
   border-radius: 30px;
   font-size: 150%;
   font-family: 'Games', sans-serif;
   color: whitesmoke;

}

.restart:hover {
   background-color: rgba(192, 192, 192, 0.9);
}

.btn {
   position: absolute;
   /*border: none; /* Remove borders */
   color: green;
   /* White text */
   padding: 12px 16px;
   /* Some padding */
   margin-left: 67%;
   margin-top: 40%;
   width: 50px;
   height: 50px;
   z-index: 4;
   border: 2px solid black;
   cursor: pointer;
   border-radius: 30px;
   font-size: 110%;
   text-align: center;
}

.btn:hover {
   background-color: rgba(192, 192, 192, 0.9);
}

.divBackRestart {
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   margin-left: 22.5%;
   margin-top: 9%;
   width: 400px;
   height: 400px;
   border-radius: 30px;
   z-index: 4;
   display: none;
}


/* Darker background on mouse-over */


/*---------------------MYSTATS-------------------------------------------------------------------------MYSTATS--------------------------------------------------------------------MYSTATS---------------------------*/


#mystats {

   border-radius: 25px;
   border: 5px solid;
   border-color: black yellow red yellow;

   margin: auto;

   width: 35%;

   background-color: rgba(255, 255, 255, 0.3);

   text-align: center;
   padding: 20px;
   font-family: 'Games', sans-serif;
   font-weight : 900;

}


.title{
   color: white;
   font-weight : 900;
}


.game-played {

   border-color: black yellow red yellow;

   border-radius: 25px;

   text-align: right;
   background: linear-gradient(90deg, rgb(0, 0, 0), rgb(84, 84, 19), rgb(255, 0, 0));
   
}


.game-error {

   border-radius: 25px;

   margin-top: 2cm;

   background: linear-gradient(90deg, rgb(0, 0, 0), rgb(84, 84, 19), rgb(255, 0, 0));

   text-align: right;
}


.total-point {

   border-radius: 25px;

   margin-top: 2cm;
   margin-bottom: 1cm;

   background: linear-gradient(90deg, rgb(0, 0, 0), rgb(102, 102, 3), rgb(255, 0, 0));

   text-align: right;
}


.title {
   text-align: left;
   float: left;
   font-family: 'Games', sans-serif;
   font-size: 20px;
}/*---------------------------------------------------game 1v1---------------------------------------------------------*/

.divScore{
   text-align: center;
}
.score{
   display: inline-block;
   font-size: xx-large;
   margin-top: 50px;
}
.divJoueur{
   display: flex;
   margin-top: -170px;
   position: relative;
}
.player1 {
   background-color: white;
   border: solid 1px black;
   height: 150px;
   width: 200px;
}

.player2 {
   position: absolute;
   right: 0;
   background-color: white;
   border: solid 1px black;
   height: 150px;
   width: 200px;
}

#imgBall1 {
   position: absolute;
   float: left;
   width: 100px;
   border: 0;
   margin: 50px;
}

#imgBall2 {
   position: absolute;
   right: 0;
   width: 100px;
   border: 0;
   margin: 50px;
}

#imgBall0 {
   display: none;
}

.recto1,
.verso1 {
   width: 100%;
   height: 100%;
   margin-top: 20px;
   position: absolute;
   pointer-events: none;
   border-radius: 40px;
}
.divBackGame1 {
   background: rgba(0, 0, 0, 0.4);
   height: 750px;
   width: 1140px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   border-radius: 30px;
}
.swal2-title {
   font-family: 'Games', sans-serif;
   color: whitesmoke;

}


/*-----------------------------------------MorePoints------------------------------------------*/


.tablePoints{
   background-color: rgba(255, 255, 255, 0.2);
   border: 5px solid;
   border-color: black yellow red yellow;
   text-align: center;
   padding: 20px;
   font-family: 'Games', sans-serif;
   margin: auto;
   font-size: 40px;

}
.th{
   border: 1px solid;
   border-color: black yellow red yellow;
}
.rankingTitle{
margin-top: auto;
}
